<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="ProjmpMapper">
			
	<!-- 사원 데이터 조회 -->
	<select id="selectEmp" resultType="com.widetns.projmp.domain.EmployeeVO">
		SELECT * FROM employee WHERE kor_name = #{kor_name}
	</select>
	
	<!-- 프로젝트 목록 조회 -->
	<select id="projList" resultType="com.widetns.projmp.domain.TestVO">
		SELECT pb.prj_name, pb.pm_name, pb.prj_start, pb.prj_end 
		FROM project_mapping pm 
			JOIN project_basic pb ON pb.prj_num = pm.prj_num
			JOIN employee e ON pm.emp_num = e.emp_num
		WHERE pb.deleted_yn = 'n' 
			AND prj_name LIKE '%'||#{prj_name}||'%' 
			AND kor_name LIKE '%'||#{kor_name}||'%'
			AND IFNULL(#{prj_start} ,prj_start=#{prj_start}, true) 
			AND IFNULL(#{prj_end} ,prj_end=#{prj_end}, true) 
		GROUP BY pb.prj_name;
	</select>
	
<!-- 	<resultMap type="ProjectMappingVO" id="searchPrj">
		<result column="prj_name" property="prjName" />
		<result column="pm_name" property="pmName" />
		<result column="prj_start" property="prjStart" />
		<result column="prj_end" property="prjEnd" />		
	</resultMap>
	
	<select id="searchProj" resultType="com.widetns.projmp.domain.ProjectMappingVO">
		SELECT e.emp_name, pb.prj_name, pb.pm_name, pb.prj_start, pb.prn_end 
		FROM project_basic pb, project_mapping pm, employee e
		WHERE pb.prj_num = pm.prj_num AND e.emp_num = pm.emp_num AND pb.prj_name LIKE '%'||#{prj_name}||'%'
	</select> -->
</mapper>